<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Your Car</h5>
          <p>
            <strong>Plate#</strong>: {{example.plate}}</p>
          <p>
          <p>
            <strong>Location</strong>: {{example.location}}</p>
          <p>
            <strong>Amount:</strong> ${{example.amount}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
