<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/styles/styles.css">

<div id="index2bg">
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container" id="homeJumbotron">
    <h1 id="titleCard" class="display-4">Parking App</h1>
    <p id="paragraphCard" class="lead">Keep track of your parking costs!</p>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>      
    <div class="col-md-10">
        <a href="#" class="btn btn-success btn-lg btn-block btn-huge">Search Car</a>
    </div>      
    <div class="col-md-1">
    </div>        
</div>
<br>
<div class="row">
    <div class="col-md-1">
    </div>      
    <div class="col-md-10">
        <a href="#" class="btn btn-danger btn-lg btn-block btn-huge">Add Car</a>
    </div>      
    <div class="col-md-1">
    </div>        
</div>
</div>
