<header>
  <div class="navbar-fixed" id="nav">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#/index" class="brand-logo"><i class="large material-icons" id="topIcon">
          insert_chart_outlined
          </i>PARK<em>ALYTICS</em></a>
        <ul class="right hide-on-med-and-down">
          <a class="waves-effect waves-light btn-small" id="signOut">Logout</a>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Reports</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

<main>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2" id="mainText">YOU PARK, WE TRACK</h1>
          <div class="row center">
          <a class="btn-large waves-effect waves-light btn modal-trigger" href="#modal1" >Login</a>
          <a class="btn-large waves-effect waves-light btn modal-trigger" href="#modal2" id="addNewUser">Register</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/map.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center" id="icons"><i class="large material-icons" id="icons">
                bar_chart
                </i></h2>
            <h5 class="center">Detailed Analytics</h5>

            <p class="light">Conveniently track your parking totals with our detailed analytics. Track your yearly, monthly or daily parking costs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons" id="icons">
                directions_car
                </i></h2>
            <h5 class="center">Add Multiple Vehicles</h5>

            <p class="light">Add as many cars as you wish. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="large material-icons" id="icons">
                computer
                </i></h2>
            <h5 class="center">Any Device Access</h5>

            <p class="light">Login in from any device.  You will have full access to your parking history whether your on the go or directly from your desktop.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">I'm a very firm believer in karma, and put it this way: I get a lot of good parking spots. 
          <p><em>Al Jourgensen</em></p>
              </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/architecture-automobile-cars-63294 (1).jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="header center teal-text text-lighten-2"><i class="material-icons red-text">
              favorite_border
              </i>Parkelizer Testimonials<i class="material-icons red-text">
                  favorite_border
                  </i></h4>
          <div class="carousel carousel-slider center">
              <div class="carousel-fixed-item center">
                
              </div>
              <div class="carousel-item red white-text" id="t1" href="#one!">
                <h1><em>"I can't believe that my students created this app just for me!"</em></h1>
                <h2 class="white-text">Nelio Contrera</h2>
              </div>
              <div class="carousel-item amber white-text" id="t2" href="#two!">
                <h1><em>"Finally, now I can track how much U.M. charges me for all this parking..."</em></h1>
                <h2 class="white-text">Daren Camacho</p>
              </div></h2>
              <div class="carousel-item green white-text" id="t3" class="z-depth-2" href="#three!">
                <h1><em>"I give this site 5 stars!"</em></h1>
                <i class="medium material-icons">stars</i>     
                <i class="medium material-icons">stars</i>
                <i class="medium material-icons">stars</i>
                <i class="medium material-icons">stars</i>
                <i class="medium material-icons">stars</i>
                <h2 class="medium white-text">David Bennett</h2>
              </div>              
            </div>
          </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">My grandma's the most careful, safe driver in the world. You put her in a rental car, and she's doing doughnuts in the K-Mart parking lot!
            <p><em>Jeff Foxworthy</em></p>
              </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/architecture-dark-parking-lot-1687105.jpg" alt="Unsplashed background img 3"></div>
  </div>

    <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content center-align">
      <h2 style="color: #ee6e73">Login</h2>
      <p>Please Enter Your Information</p>
      <div class="row">
          <div class="input-field col s12">
            <input id="existingEmail" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="existingPassword" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color: #26a69a">
      <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="logingIn">Agree</a>
    </div>
  </div>

  <div id="modal2" class="modal modal-fixed-footer">
      <div class="modal-content center-align">
        <h2 style="color: #ee6e73">Register Your Car</h2>
        <p>Please Enter Your Information</p>
        <div class="row">
            <div class="input-field col s12">
              <input id="newEmail" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
        <div class="row">
            <div class="input-field col s12">
              <input id="newPassword" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
      </div>
      <div class="modal-footer" style="background-color: #26a69a">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="register">Agree</a>
      </div>
    </div>
    </main>

    <footer>

  <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">A group of fledgling developers working through the long nights to provide a detailed parking tracker.</p>
          </div>
          <div class="col l3 s12" style="float: right">
            <h5 class="white-text">Connect</h5>
            <div class="row">
              <h1><i class="col s4 fab fa-instagram"></i></h1>
              <h1><i class="col s4 fab fa-facebook-square"></i></h1>
              <h1><i class="col s4 fab fa-twitter"></i></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center-text"><i class="material-icons">copyright</i>
        Park<em>alytics</em></a>
        </div>
      </div>
    </footer>
    </footer>

<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  ></script>
  <script src="/js/index.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="/js/chart.js"></script>
  <script src="/js/parking.js"></script>

    